.progress-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f8fcfb;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(6, 99, 65, 0.05);
  font-family: "Short Stack", sans-serif;
  text-align: center;
}

.progress-heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #04442d;
  font-family: "Georgia", serif;
}

.subtext {
  color: #066341;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-family: "Short Stack", sans-serif;
}

