/* Container styling */
.heatmap-container {
  margin: 2rem auto;
  padding: 1.5rem;
  background: #f8fcfb;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(6, 99, 65, 0.08);
  font-family: "Short Stack", sans-serif;
  max-width: 900px;
  text-align: center;
}

/* Date range label */
.heatmap-range {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #04442d;
  font-family: "Short Stack", sans-serif;
}

.react-calendar-heatmap .color-low {
  fill: #cce5da;
}
.react-calendar-heatmap .color-medium {
  fill: #88cdb4;
}
.react-calendar-heatmap .color-high {
  fill: #3fa38c;
}
.react-calendar-heatmap .color-empty {
  fill: #f8fcfb;
}
.react-calendar-heatmap .color-empty:hover {
  stroke: #f8fcfb;
}


.heatmap-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #04442d;
  font-family: "Short Stack", sans-serif;
}

.legend-square {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
}

.legend-empty {
  background-color: #f8fcfb;
}
.legend-low {
  background-color: #cce5da;
}
.legend-medium {
  background-color: #88cdb4;
}
.legend-high {
  background-color: #3fa38c;
}

.entry-count {
  font-family: "Georgia", serif;
  font-size: 1rem;
  color: #066341;
  margin-bottom: 1rem;
}

.streak-text {
  margin-top: 1rem;
  font-family: "Georgia", serif;
  font-size: 1rem;
  color: #04442d;
  margin-bottom: 1rem;
}

/* modal styling */

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px 0;
  margin-top: 1rem;
}

.accordion-header h3 {
  margin: 0;
  color: var(--green);
}

.accordion-toggle {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--green-dark);
}

.accordion-body {
  padding: 8px 0 16px 0;
  color: #333;
}

.entry-preview hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px dashed var(--teal-line);
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.modal-footer button {
  min-width: 80px;
  height: 40px;
  padding: 6px 20px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  background-color: #066341;
  color: #fff;
}

.modal-footer button:hover {
  background: var(--green-dark);
  transform: translateY(-1px);
}






