/* Container styling */
.heatmap-container {
  margin: 2rem auto;
  padding: 1.5rem;
  background: #f8fcfb;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(6, 99, 65, 0.08);
  font-family: "Short Stack", sans-serif;
  max-width: 900px;
  text-align: center;
}

/* Date range label */
.heatmap-range {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #04442d;
  font-family: "Short Stack", sans-serif;
}

.react-calendar-heatmap .color-low {
  fill: #cce5da !important;
}
.react-calendar-heatmap .color-medium {
  fill: #88cdb4 !important;
}
.react-calendar-heatmap .color-high {
  fill: #3fa38c !important;
}
.react-calendar-heatmap .color-empty {
  fill: #e4ebe6 !important;
}


.heatmap-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #04442d;
  font-family: "Short Stack", sans-serif;
}

.legend-square {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
}

.legend-empty {
  background-color: #e4ebe6;
}
.legend-low {
  background-color: #cce5da;
}
.legend-medium {
  background-color: #88cdb4;
}
.legend-high {
  background-color: #3fa38c;
}

.entry-count {
  font-family: "Georgia", serif;
  font-size: 1rem;
  color: #066341;
  margin-bottom: 1rem;
}

.streak-text {
  margin-top: 1rem;
  font-family: "Georgia", serif;
  font-size: 1rem;
  color: #04442d;
  margin-bottom: 1rem;
}






