.loader {
   margin: auto;
   border: 15px solid #EAF0F6;
   border-radius: 50%;
   border-top: 15px solid #076040;
   width: 80px;
   height: 80px;
   animation: spinner 4s linear infinite;
}

@keyframes spinner {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}